img {
    width: 300px;
    border-radius: 25px;

}

li {
    font-size: 14px;
    vertical-align: middle;
    padding: 0px;
    margin: 0;   
}

.btn-sm {
    font-size: 10px;
    padding: 0px 2px 0px;
    margin: 0px;
}

body {
    background-color: moccasin;
}